@charset "windows-1251";
/* CSS Document */

body
{
    font-family: "Segoe UI", "Verdana", "Arial", "Sans-Serif";
    font-size: 10pt;
    color: #666;
}

/* help class */
.c {clear:both;}

#taldom-body {margin:0; padding:0;}

/* Top Homeline menu */ 
#top-homeline {margin:0; height:26px; border-bottom:1px solid #CBCBCB; background-color:#403B3C; font-size: 11pt; left:0; position:fixed; top:0; width:100%; z-index: 99999999999;}
#top-homeline-back {display:block; overflow:hidden; height:27px; z-index:0;}
 
#top-homeline .inner {padding:3px 8px; display:inline;}

#top-homeline .left {float:left; color:#E8E6E6; padding-top:2px;}
#top-homeline .left .menu {display:inline; margin:0 5px;}
#top-homeline .left .menu a {color:#E8DFE1; text-decoration:none;}
#top-homeline .left .menu a:hover {color:#C4BEC0; text-decoration:none;}

#top-homeline .left .select {display:inline; top:-3px;}
#top-homeline .left .select a {border-bottom:1px dashed #C4BEC0;}

#top-homeline .right {float:right; font-size:9pt; padding-top:6px; padding-right:5px; color:#E8E6E6;}

/* Main container */
#main-back {background-image:url(/images/main/h_bckg.png); min-height:140px; width:100%; background-repeat:repeat-x; background-position:left top;}
#main-container {margin:0 auto; min-width:1000px; max-width:1000px; padding:4px 9px; z-index: 99999999998;}
#logotype-div {background-image:url(/images/main/X.png); background-repeat:no-repeat; background-position:left top; padding:8px 5px 5px 480px; min-height:131px;}